<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="R. Almeida" />

    <title>Editar Objeto</title>
  </head>
  <body>
    <h1>Editar Objeto</h1>

		<form action="/edit/{{ id }}" method="post">
			{% csrf_token %}

			<label for="designacao">Designação</label>
			<input type="text" id="designacao" name="designacao" value="{{ document.designacao }}" />

			<br />
			<br />

			<label for="key">Valores dinâmicos: (valores em branco não serão incluídos)</label>
			<div style="display: flex">
				{% for key, value in document.items %}
					{% if key != '_id' and key != 'designacao' %}
						<input type="text" name="key" id="key" placeholder="Atributo" value="{{ key }}" style="height: fit-content" />:
						<div
							id="values-container"
							style="display: flex; flex-direction: column; gap: 4px"
						>
							{% for v in value %}
								<input type="text" name="value" placeholder="Valor" value="{{ v }}" />
							{% endfor %}
						</div>
					{% endif %}
				{% endfor %}

				<button
					onclick="
						const container = document.getElementById('values-container');
						const input = document.createElement('input');
						input.type = 'text';
						input.name = 'value';
						input.placeholder = 'Valor';
						container.appendChild(input);
					"
					style="margin-left: 4px; height: fit-content"
					type="button"
				>
					Adicionar mais
				</button>
			</div>

			<br />
			<br />

			<button type="submit">Editar</button>
		</form>

    <br />

    <a href="/">Voltar</a>
  </body>
</html>
