<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="R. Almeida" />
    <title>Linguagem</title>
  </head>
  <body>
    <h1>Linguagem</h1>

    <p>Selecione uma operação CRUD</p>

    <ul>
      <li>
        <a href="/language/create/">Create</a>
      </li>
      <li>
        <a href="/language/read/">Read</a>
      </li>
      <li>
        <a href="/language/update/">Update</a>
      </li>
      <li>
        <a href="/language/delete/">Delete</a>
      </li>
    </ul>

    <p>
      <a href="/">Voltar</a>
    </p>
  </body>
</html>
